@media screen and (max-width: 835px) {
  .sidebar-nav {
    min-height: 100vh;
    width: 25%;
  }

  .site-container .sidebar-nav .h1 {
    font-size: 1rem;
  }

  .sidebar-content-container {
    padding-right: 3px;
  }

  .sidebar-content-container::-webkit-scrollbar {
    width: 8px;
  }

  .sidebar-content {
    padding: 4px 8px;
    width: 90%;
  }

  .sidebar-content .sidebar-content-h1 {
    font-size: 0.8rem;
  }

  .add-subtract {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .side-bottom button {
    width: 100%;
  }

  .side-bottom .count {
    width: 100%;
    text-align: center;
  }

  .side-bottom .remove {
    font-size: 10px;
    display: flex;
    justify-content: center;
  }

  .api-element {
    width: 250px;
  }

  .body.active {
    transform: translateX(25vw);
    width: 75.5%;
  }
}
